@CHARSET "ISO-8859-1";
 /* ============================================ *
 * Slideshow
 * ============================================ */
.slideshow-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ededed;
}
.slideshow-container .slideshow {
  /* width: 100%; */
  padding: 0;
  position: relative;
  margin: 0;
  border: 10px solid #FFFFFF;
}
.slideshow-container .slideshow > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  display: block;
  margin: 0;
}
.slideshow-container .slideshow > li:first-child {
  position: static;
  z-index: 100;
}
.slideshow-container .slideshow > li img {
  max-width: 100%;
  width: 100%;
}

.slideshow-pager {
  text-align: center;
  width: 100%;
  z-index: 115;
  position: absolute;
  bottom: 0px;
  top: auto;
  overflow: hidden;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.slideshow-pager span {
  font-family: arial;
  width: 44px;
  height: 44px;
  display: inline-block;
  color: #DDDDDD;
  cursor: pointer;
}
.slideshow-pager span:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
  border-radius: 1px;
  background-color: #FFFFFF;
  position: relative;
}
.slideshow-pager span:hover:before {
  background-color: #2e8ab8;
}
.slideshow-pager span.cycle-pager-active:before {
  background-color: #297aa3;
}
.slideshow-pager > * {
  cursor: pointer;
}

.slideshow-prev,
.slideshow-next {
  position: absolute;
  top: 0;
  width: 15%;
  max-width: 80px;
  height: 100%;
  opacity: 0.6;
  z-index: 110;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.slideshow-prev:before,
.slideshow-next:before {
  content: '';
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  border-style: solid;
  display: block;
  top: 50%;
  margin-top: -15px;
}
.slideshow-prev:hover,
.slideshow-next:hover {
  opacity: 1;
}
.slideshow-prev.disabled,
.slideshow-next.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}

.slideshow-prev {
  left: 8px;
}
.slideshow-prev:before {
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF transparent transparent;
  top: 50%;
  left: 10px;
}
.slideshow-prev:hover:before {
  border-color: transparent #2e8ab8 transparent transparent;
}

.slideshow-next {
  right: 8px;
}
.slideshow-next:before {
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #FFFFFF;
  top: 50%;
  right: 10px;
}
.slideshow-next:hover:before {
  border-color: transparent transparent transparent #2e8ab8;
}

.cycle-caption {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
  z-index: 110;
}

.cycle-overlay {
  font-family: tahoma, arial;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 120;
  background: black;
  color: white;
  padding: 15px;
  opacity: .5;
}

/* ============================================ *
 * brands logo
 * ============================================ */
body ul.promos{
	padding-left: 0px;
	margin: 0 0 10px 0;
  /* padding: 0; */
  /* width: 100%; */
}

.promos:after {
  content: '';
  display: table;
  clear: both;
}

/* Specifying the body only in order to override the .std ul li styling */
body .promos > li {  
	list-style: none;
	text-align: center;
	position: relative;
	/* border: 1px solid #cccccc; */
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	float: left; 
	max-width: 96%;
	margin: 0 0 10px 0;
	padding: 0 4px 0 4px;
  }

 .promos > li:nth-child(6n) {
    margin-right: 0;
  }

.promos > li:last-child {
  margin-bottom: 0;
}

.promos img {
  max-width: 100%;
  width: 100%;
  height: 100px;
}

.promos a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block;
}

.promos span {
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  display: block;
  width: 100%;
  top: 10%;
  font-weight: 500;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-shadow: 1px 1px 3px #555555;
}

.promos strong {
  font-weight: 600;
  font-size: 26px;
  display: block;
}

  .promos span {
    font-size: 16px;
  }

  .promos strong {
    font-size: 17px;
  }
  

/* ============================================ *
 * Nav
 * ============================================ */
.mobMenu{
	width: 96%;
	padding:5px 0;
}
.mobMenu .btn-navbar{ 
	padding:5px 10px;
}
.mobMenu .btn-navbar .icon-bar {
	background-color: #F5F5F5;
	border-radius: 1px 1px 1px 1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	display: block;
	height: 2px;
	width: 18px;
}
#menuInnner{
	width:204%;
	margin-top:9px;
}
#menuInnner ul ul li{
	padding-left:10px;
}
.mobMenu #menuInnner li a{
	padding: 9px 15px;
	border-radius: 3px 3px 3px 3px; 
	text-align:left; 
	text-decoration:none; 
	display:block; 
	color:#444340;
}
.mobMenu #menuInnner li a:hover{background-color: #FCF2E5; color:#ff1929;}
#menuInnner li{position:relative;}
#menuInnner{ width:100%;margin-top:9px;}
#menuInnner ul ul li{ padding-left:10px;}
#menuInnner ul ul.level1-menu li{ padding-left:0;}
em.open-close{position:absolute; right:0;height:37px; top:0; background:url("../images/i_desc_arrow.gif") no-repeat scroll center center transparent; width:12px; cursor:pointer;}
 
 /* ========================================================================================================================================================= *
 * @media max width 480px (Phones)
 * ========================================================================================================================================================== */ 
@media (max-width: 480px){ 
 }
 /* ========================================================================================================================================================= *
 * @media min width 767px
 * ========================================================================================================================================================== */ 
 @media (max-width: 767px){
 /* LAYOUT
 ========================================*/
 
 /* Header
 ========================================*/
.header-top {  
  padding: 16px 0 0px;
}
 .header .header-right { 
	float: left; 
}
 .header .welcome-msg { 
	text-align: left; 
	margin-bottom: 4px; 
	color: #555; 
	font-style: italic; 
}
.header-container .form-search .col-xs-9{	
	padding-right: 3px;
}
.header-container .form-search .col-xs-3{	
	padding-left: 0px;
}
.header-container .quick-access .links {
	float: left;
	text-align: left; 
	margin-top: 7px; 
	font-size: 13px; 
}
.header-container .quick-access .links  li:nth-child(4){
	border-left: none;	
}

/* Nav
 ========================================*/
 .mobMenu h1{
	margin-top: 0px;
}
/* Brands
 ========================================*/
body .promos > li { 
	max-height: 70%;
}
.promos img {
	height: 60px;
}
 } 
/* ========================================================================================================================================================= *
 * @media min width 768px and max width 1024px (Tablets )
 * ========================================================================================================================================================== */ 
@media (min-width: 768px) and (max-width: 1024px){
/* LAYOUT
 ========================================*/
 
/* Header
 ========================================*/
 
 .header .header-right { 
	float: left; 
}
 .header .welcome-msg { 
	text-align: left; 
	margin-bottom: 4px; 
	color: #555; 
	font-style: italic; 
}
.header-container .form-search .col-sm-9{	
	padding-right: 3px;
}
.header-container .form-search .col-sm-3{	
	padding-left: 0px;
}
.header-container .quick-access .links {
	float: left;
	text-align: left; 
	margin-top: 7px; 
	font-size: 13px; 
}
/* TOP NAVIGATION
========================================== */
#nav { 
	width: 100%;
	margin: 0 auto;
	font-size: 14px; 
}
}

/* ========================================================================================================================================================= *
 * @media min width 1200px (Desktops)
* ========================================================================================================================================================== */ 
@media (min-width: 1200px){
/* LAYOUT
 ========================================*/	
/* Header
 ========================================*/
 .header-container .form-search .col-lg-8{	
	padding-right: 5px;
}
.header-container .form-search .col-lg-3{	
	padding-left: 0px;
}


}








 